body
{
    background: linear-gradient(skyblue,rgb(187, 228, 241));
    background-repeat: no-repeat;
    background: cover;
}
.heading
{
    
    background-color: black;
    color: lightgrey;
}
.about
{
    font-size: 80px;
    margin-left: 10px;
}
.me
{
    border-radius: 50%;
    height: 440px;
    width: 400px;
    margin-left: 500px;
}
h1
{
    margin-left: 600px;
}
main
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 200px;
}
.div1
{
    padding-left: 210px;
    padding-top: 10px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    color: white;
    outline: solid 1px white;
}
.div2
{
    padding-left: 210px;
    padding-top: 10px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    color: white;
    outline: solid 1px white;
}
.div3
{
    padding-left: 90px;
}
.div4
{
    padding-left: 90px;
}
h3:hover
{
    background-color: rgb(0, 132, 255);
    color: white;
}
