body
{
    background: linear-gradient(to right,rgb(211, 107, 128),rgb(224, 75, 75));
}
.navBar
{
    background-color: black;
    color: white;
    
}
.navBar>a
{
    text-decoration: none;
    color: white;
    
}
.searchBtn
{
    border-color: rgba(0,0,0,0);
    background-color: lightgrey;
    cursor: pointer;
}
.searchip
{
    border-color: rgba(0,0,0,0);
}
.rights
{
    margin-left: 430px;
}
.heading
{
    text-align: center;
    font-size: 100px;
    font-weight: lighter;
    text-decoration: underline;
}
.heading
{
    font-size: 70px;
    text-decoration: none;
}
.mainBox
{
    border: 1px solid rgba(0,0,0,0.4);
    padding: 20px;
    width: 1400px;
    margin-left: 20px;
}
.info
{
    width: 1355px;
    height: 70px;
    border: 1px solid black;
    padding-left: 5px;
    background: linear-gradient(to right,rgb(211, 107, 128),rgb(224, 75, 75));
}
.noteBtn
{
    background-color: rgb(0, 132, 255);
    margin-top: 20px;
    color: white;
    border-color: rgba(0,0,0,0);
    width: 100px;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
}
.noteBox
{
    border-bottom: 1px solid rgba(0,0,0,0.4);
    width: 1400px;
    margin-left: 20px;
}
.noteAdd
{
    margin-left: 39px;
    margin-top: 25px;
    width: 200px;
    overflow: scroll;
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.4);
}